@charset "utf-8";

html, body{
	font:400 105% serif;
	background-color: #200030;
	color: #FFF000;
	margin:0;
	height:100%;
	/*min-height:100%;*/
	/*position:relative*/
}

h1{
	font-size:120%;
	color:#DD4400;
	padding-left:3.5%
}
h2{
	font-size:125%;
	color:#DD4400;
	padding-left:1.2%
}
h3{
	font-size:110%;
	color:#BB77BB;
	padding-left:.3%
}

a{
	font-size:110%;
	color:#55CC55;
	text-decoration:none
}

a:hover{color:#FFFFFF}

img{margin-left:4%;}

.main{
	min-height:100%;
	position:relative
}

.head{
	font:400 1.2em sans;
	color:#999000;
	padding:40pt 20%
}

.body{padding: 0pt 30% 60pt 19%}

.foot{
	font-size: 0.7em;
	position:absolute;
	text-align:center;
	bottom:0;
	width:100%;
	padding-top:9pt;
	padding-bottom:9pt
}

.sh{
	font:400 77% mono;
	padding-left:3%
}
