/*
	Author: Name Surname
	File Name: styles.css
	Date: 2024/09/10
*/

/* CSS Reset */
body,header,nav,main,footer,img,h1,h3{
	margin: 0px;
	padding: 0px;
	border: 0px;
}


/* Style rules for body and images */
body{
	background-color: #F6EEE4;
}

img{
	max-width: 100%;
	display: block;
}

/* Style rules for navigation area */
nav{
	background-color: #2A1F14;
}

nav ul{
	list-style: none;
	margin: 0px;
	text-align: center;
}

nav li{
	display: inline-block;
	font-size: 1.5em;
	font-family: Geneva,Arial,sans-serif;
	font-weight: bold;
}

nav li a{
	display: block;
	color: #F6EEE4;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
}

/* Style rules for main content */
main{
	padding: 2%;
	font-family: Verdana,Arial,sans-serif;
}

main p{
	font-size: 1.25em;
}

main h3{
	padding-top: 2%;
}

main ul{
	list-style: square;
}

.link{
	color: #4D3319;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.action{
	font-size: 1.75em;
	font-weight: bold;
	text-align: center;
}

#contact{
	text-align: center;
}

/* Style rules for footer content */
footer{
	text-align: center;
	font-size: 0.85em;
	background-color: #2A1F14;
	color: #F6EEE4;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 0%;
	padding-right: 0%;
}

footer a{
	color: #F3E6D8;
	text-decoration: none;
}
